<!DOCTYPE html>
<html lang="en" data-ng-app="yepUcan">
<head>
<title>yepUcan</title>
  <script type="text/javascript" src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" charset="utf-8"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100, 700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="js/promise-tracker.js"></script>
  <script type="text/javascript" src="js/form.js"></script>
</head>

<body>
<section id="vis">
  <div class="header">
    <img class="top-logo" src="images/yepucan-white.png">
    <h4>Next generation reward platform connecting the U-Generation with brands.</h4>
  </div>
</section> 

<div class="register">
    <button type="button" onclick="smoothScroll(document.getElementsByClassName('email-form')[0])">Register</button>
</div>

<div class="mid-section">
  <img src="images/phone.png">
  <div class="mid-section-copy">
    <h1>Build Your Profile<h1>
    <h4>Connect & Unlock your Full Value<br>and empower financial independence.</h4>
  </div>
</div>

<div class="bottom-banner">
  <h1>YepUCan is coming soon. Stay updated!</h1>
  <img class="bottom-banner-logo" src="images/yepucan-white.png">
</div>

<div class="email-form">
  <h1>Register<h1>
  <h4>We'll notify you when the app becomes available. If you have any other questions, email <a href = "">contact@yepucan.com</a></h4>

  <div data-ng-controller="help">
    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
    <div data-ng-show="progress.active()"></div>
    <form name="helpForm" novalidate role="form">
      <div class="form-group">
        <label for="email"></label>
        <span class="label label-danger" data-ng-show="submitted && helpForm.email.$error.required">Required!</span>
        <span class="label label-danger" data-ng-show="submitted && helpForm.$error.email">Invalid email!</span>
        <input type="email" name="email" placeholder="ebaqdesign@gmail.com" data-ng-model="email" class="email" required />  
        <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-default">Sign Up</button>
      </div>

      <input type="checkbox" class="brand-checkbox" name="brand" value="brand"><h4 class="its-a-brand">It's a brand.</h4><br><br>

      <div class="form-group">
        <label for="category"></label>
        <select name="category" placeholder="Select category" data-ng-model="category" data-ng-options="id as value for (id, value) in categoryOptions" class="brands">
          <option value='' disabled selected>Select category</option>
        </select>
      </div>
    </form>
  </div>
</div>

<div class="thin-banner"></div>

<div class="bottom-brands">
  <img class="bottom-brands-images" src="images/bottom-brands.png">
</div>

<div class="footer"><img class="footer-logo" src="images/footer-logo.png"></div>

<script type="text/javascript" src="js/graph.js"></script>
<link rel="stylesheet" type="text/css" href="main.css">
</body>
</html>